.DS_Store
!apollo-adminservice-dev/logs/README.md
!apollo-adminservice-fat/logs/README.md
!apollo-adminservice-pro/logs/README.md
!apollo-adminservice-uat/logs/README.md
!apollo-configservice-dev/logs/README.md
!apollo-configservice-fat/logs/README.md
!apollo-configservice-pro/logs/README.md
!apollo-configservice-uat/logs/README.md
!apollo-portal/logs/README.md
!database/README.md

apollo-adminservice-dev/logs/*
apollo-adminservice-fat/logs/*
apollo-adminservice-pro/logs/*
apollo-adminservice-uat/logs/*
apollo-configservice-dev/logs/*
apollo-configservice-fat/logs/*
apollo-configservice-pro/logs/*
apollo-configservice-uat/logs/*
apollo-portal/logs/*
database/*